<template>
  <div>
    <h1 class="font-bold text-xl mb-4">Thanks for playing</h1>
    <p>
      You answered {{ correctAnswers }} correctly and
      {{ incorrectAnswers }} incorrectly.
    </p>
    <button
      @click="$emit('start-over')"
      class="mt-4 border border-green-500 rounded-full text-green-500 px-4 py-1"
    >
      Play Again
    </button>
  </div>
</template>

<script>
export default {
  props: {
    correctAnswers: Number,
    incorrectAnswers: Number,
  },
}
</script>
