<template>
  <div v-if="questions.length">
    <h1 id="question" class="font-bold mb-4 text-lg">
      {{ questions[currentQuestion].question }}
    </h1>
    <div v-if="error" class="text-red-500 mb-2 italic">{{ errorMessage }}</div>
    <div>
      <div
        v-for="(choice, index) in currentChoices(questions[currentQuestion])"
        :key="index"
        class="mb-1"
      >
        <input
          :id="toSnake(choice)"
          type="radio"
          :name="questions[currentQuestion].question"
          :value="toSnake(choice)"
        />
        <label class="inline-block ml-2" :for="toSnake(choice)">{{
          choice
        }}</label>
      </div>
    </div>
    <button
      @click="submitAnswer"
      class="mt-4 border border-green-400 rounded-full px-4 py-1 text-green-400"
    >
      Next Question
    </button>
  </div>
  <div v-else>Loading questions...</div>
</template>

<script>
export default {
  props: {
    options: Object,
  },
  data() {
    return {
      questions: [],
      currentQuestion: 0,
      selectedAnswer: null,
      error: false,
      errorMessage: null,
    }
  },
  mounted() {
    const category = this.options.category
    const amount = this.options.totalQuestions
    const difficulty = this.options.difficulty
    let url = `https://opentdb.com/api.php?amount=${amount}`
    category != "any" ? (url += `&category=${category}`) : ""
    difficulty != "any" ? (url += `&difficulty=${difficulty}`) : ""
    this.axios.get(url).then((response) => {
      this.questions = response.data.results
    })
  },
  methods: {
    submitAnswer() {
      const checked = document.querySelector("input[type='radio']:checked")
      if (!checked) {
        this.error = true
        this.errorMessage = "Please select an answer"
        return
      }
      const answer = checked.value.replace("_", " ")
      if (this.questions[this.currentQuestion].correct_answer === answer) {
        this.$emit("submitted-answer", true)
      } else {
        this.$emit("submitted-answer", false)
      }

      if (this.currentQuestion == this.questions.length - 1) {
        this.$emit("end-game")
      } else {
        this.currentQuestion += 1
      }
      checked.checked = false
      this.error = false
    },
  },
  computed: {
    currentChoices() {
      return (question) => {
        const correct = [question.correct_answer]
        const incorrect = question.incorrect_answers
        return correct.concat(incorrect).sort(() => Math.random() - 0.5)
      }
    },
    toSnake() {
      return (value) => {
        return value.split(" ").join("_")
      }
    },
  },
}
</script>
