<template>
  <h1 class="text-4xl mb-2 font-bold text-center">Trivia Game</h1>
  <p class="mb-6 text-center">Select your options to get started.</p>
  <form>
    <div class="mb-6">
      <label class="block mb-1" for="difficulty">Select Category</label>
      <select
        @change="options.category = $event.target.value"
        v-model="options.category"
        class="w-full shadow p-2 rounded bg-gray-50"
        name="difficulty"
        id=""
      >
        <option value="any">Any Category</option>
        <option value="9">General Knowledge</option>
        <option value="10">Entertainment: Books</option>
        <option value="17">Science and Nature</option>
      </select>
    </div>

    <div class="mb-6">
      <label class="block mb-1" for="difficulty">Select Difficulty</label>
      <select
        @change="options.difficulty = $event.target.value"
        v-model="options.difficulty"
        class="w-full shadow p-2 rounded bg-gray-50"
        name="difficulty"
        id=""
      >
        <option value="any">Any Difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>

    <div class="mb-6">
      <label class="block mb-1" for="number">Number of Questions</label>
      <span class="italic">From 1 - 100</span>
      <input
        @change="options.totalQuestions = $event.target.value"
        v-model="options.totalQuestions"
        required
        class="w-full bg-gray-50 rounded p-1 shadow-inner"
        name="number"
        type="number"
        min="1"
        max="100"
      />
    </div>

    <button
      @click.prevent="validate"
      type="submit"
      class="border-2 border-green-500 rounded-full text-green-500 m-auto block px-4 py-1"
    >
      Start Game
    </button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      options: {
        category: "any",
        difficulty: "any",
        totalQuestions: "10",
      },
    }
  },
  methods: {
    startGame() {
      this.$emit("start-game", this.options)
    },
    validate() {
      const numberInput = document.querySelector("input[type=number]")
      parseInt(numberInput.value) < 1 ||
      parseInt(numberInput.value) > 100 ||
      isNaN(parseInt(numberInput.value))
        ? this.inputError(numberInput)
        : this.startGame()
    },
    inputError(elem) {
      elem.classList.add("border")
      elem.classList.add("border-red-300")
      const errorMessage = document.createElement("div")
      errorMessage.textContent = "Please enter a number between 1 and 100"
      errorMessage.classList.add("text-red-600")
      errorMessage.classList.add("mt-1")
      errorMessage.classList.add("text-sm")
      elem.parentNode.insertBefore(errorMessage, elem.nextSibling)
    },
    log(data) {
      console.log(data)
    },
  },
}
</script>
