<template>
  <div class="w-full h-screen flex items-center justify-center">
    <div class="shadow-lg max-w-3xl p-6 rounded">
      <StartGame v-if="!started" @start-game="startGame" />
      <Questions
        v-if="started && !ended"
        @submitted-answer="updateScore"
        :options="gameOptions"
        @end-game="endGame"
      />
      <GameOver
        v-if="ended"
        :correctAnswers="correctAnswers"
        :incorrectAnswers="incorrectAnswers"
        @start-over="resetGame"
      />
    </div>
  </div>
</template>

<script>
import StartGame from "./components/StartGame"
import Questions from "./components/Questions"
import GameOver from "./components/GameOver"

export default {
  name: "App",
  components: {
    StartGame,
    Questions,
    GameOver,
  },
  data() {
    return {
      correctAnswers: 0,
      incorrectAnswers: 0,
      gameOptions: {
        totalQuestions: null,
        category: null,
        difficulty: null,
      },
      started: false,
      ended: false,
    }
  },
  methods: {
    startGame(options) {
      this.started = true
      this.gameOptions = options
    },
    endGame() {
      this.ended = true
    },
    updateScore(value) {
      value ? (this.correctAnswers += 1) : (this.incorrectAnswers += 1)
    },
    resetGame() {
      this.started = false
      this.ended = false
      this.gameOptions = {}
    },
  },
}
</script>